.main-nav-div {
    /* position: static; */
    width: 100%;
    overflow: 0.5;
    display: block;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, #0505ac, blue, #0505ac);
  }
  .head {
    padding: 20px 0;
    color: #fff;
  }
  .logo h1 {
    font-size: 35px;
    font-weight: 900;
  }
  .head .icon {
    margin-left: 10px;
  }
  /*--------head------------*/
  /*--------header------------*/
  header {
    background: #0505ac;
    /* background-color: rgba(255, 255, 255, 0.2); */
    margin: 0 30px;
  }
  header .nav {
    display: flex !important;
  }
  header li {
    margin-right: 40px;
  }
  header ul {
    padding: 30px 20px;
    text-align: center;
    align-items: center;
  }
  header ul li a {
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
  }
  header ul li a:hover {
    color: red;
  }
  .v-ted {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #0000cd;
    /* background-color: #1eb2a6; */
    padding: 30px 70px;
    color: #fff;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  .toggle {
    display: none;
  }
  .img-nv {
    width: 30%;
    height: 10vh;
    object-fit: contain;
  }
  /*--------header------------*/
  @media screen and (max-width: 968px) {
    .start {
      clip-path: none;
    }
    header {
      margin: 0;
      background-color: #0000cd;
      /* background-color: #1eb2a6; */
      position: relative;
    }
    header ul.flexSB {
      display: none;
    }
    header ul li {
      align-items: center;
      margin-bottom: 20px;
    }
    .toggle {
      display: block;
      background: none;
      color: #fff;
      font-size: 30px;
      position: absolute;
      right: 0;
      top: -20px;
    }
    .mobile-nav {
      position: absolute;
      top: 7vh;
      left: 0;
      width: 100%;
      background-color: #0000cd;
      /* background-color: #1eb2a6; */
    }
  }
  @media screen and (max-width: 768px) {
    .start {
      clip-path: none;
    }
    .v-ted {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .flexSB ul {
      text-align: center;
      align-items: center;
      line-height: 50px;
      font-size: larger;
      margin-top: auto;
      margin-bottom: auto;
    }
    .flexSB ul li {
      text-align: center;
    }
    .start-img-div {
      display: block;
      background: none;
      color: #fff;
      font-size: 30px;
      position: relative;
      right: 55px;
      top: 0px;
      bottom: 0px;
    }
    .flexSB ul li:hover {
      color: red;
    }
    header {
      margin: 0;
      background-color: #0000cd;
      /* background-color: #1eb2a6; */
      position: relative;
    }
    header ul.flexSB {
      display: none;
    }
    header ul li {
      margin-bottom: 20px;
    }
    .toggle {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      background: none;
      padding-bottom: 20px;
      color: #fff;
      font-size: 25px;
      /* position: absolute;
      right: 0;
      top: -20px; */
    }
    .mobile-nav {
      position: absolute;
      z-index: 1;
      top: 7vh;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #0000cd;
  
      /* background-color: #1eb2a6; */
    }
  }